/**/
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Unica+One');
$headingFont:"Unica One";
$mainFont: "Quattrocento Sans";
$targaryen: "#a12134";

* {
  font-family: $mainFont;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

@import "_nav.scss", "_stats.scss", "_profile.scss", "_leaderboard.scss","_comments.scss";
