/**/
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Unica+One');
$headingFont:"Unica One";
$mainFont: "Quattrocento Sans";
$targaryen: "#a12134";

@mixin standardize ($margin, $padding, $border) {
margin: $margin;
padding: $padding;
border: $border;
}
 
* {
  font-family: $mainFont;
  @include standardize (0,0,0);
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

@import "_nav.scss", "_stats.scss", "_profile.scss", "_leaderboard.scss","_comments.scss", "_media.scss";
